@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

$hr-margin: 1em 0;

// Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

// Update Bulma's global variables
// $family-sans-serif: 'Nunito', sans-serif;
// $grey-dark: $brown;
// $grey-light: $beige-light;
$primary: #202225;
// $link: #e74c3c;
// $link-hover: lighten($link, 10%);
// $widescreen-enabled: false;
// $fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
// $body-background-color: #36393f;
// $body-color: #fff;
// $control-border-width: 2px;
// $input-border-color: transparent;
// $input-shadow: none;

// $dropdown-menu-min-width: 250px;

$section-padding: 1rem 1.5rem;

.full-height {
  height: 100vh;
}

.flex-1 {
  flex: 1;
}

.has-margin-bottom-0 {
  margin-bottom: 0 !important;
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;

  &.modal-is-open {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-body {
    background-color: white;
    width: 70vw;
  }
}

.fixed-width-number {
  font-feature-settings: 'tnum';
}

.async-update {
  position: relative;

  .level {
    justify-content: flex-start;
  }

  .is-open {
    display: flex;
  }

  .is-closed {
    display: none;
  }
}

// Import only what you need from Bulma
// @import './darkly';
@import '../../../node_modules/bulma/bulma.sass';
@import '../../../node_modules/bulma-helpers/bulma-helpers.sass';
@import '../../../node_modules/bulma-tooltip/dist/css/bulma-tooltip.min.css';
@import '../../../node_modules/bulma-badge/dist/css/bulma-badge.sass';
// @import './markdown-editor.scss';
// @import './darkly_overrides';

.is-completed {
  opacity: 0.5 !important;
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 1;
  }
}

.inside-row {
  &.hide-controls {
    // position: absolute;
    // transform: scaleY(0);
    // transition: transform 200ms ease;
    display: none;
  }

  &.show-controls {
    // position: relative;
    // transform: scaleY(1);
    // transition: transform 300ms ease-in-out;
    display: flex;
  }
}

.button {
  &.is-transparent {
    background-color: transparent;
  }
}

.markdown {
  ul {
    padding-left: 16px;

    li {
      list-style-type: disc;
    }
  }
}

.tab-badge {
  display: inline-block;
  height: 10px;
  margin: 0 10px 0 5px !important;
  width: 10px;
}

.dropdown-menu {
  z-index: 1000;
}
